.flag-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 150px;
  height: 200px;
  border: 1px solid #ccc;
  border-radius: 8px;
  margin: 10px;
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.6); /* Color de fondo consistente */
  cursor: pointer;
  transition: transform 0.3s, box-shadow 0.3s;
  text-align: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
}

.flag-card:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}

.flag-img {
  width: 100%;
  height: auto;
  max-height: 100px;
  object-fit: contain;
  border-radius: 4px;
}

.flag-card p {
  color: white;
  font-size: 1rem;
  font-weight: bold;
  margin: 8px 0 0;
  text-transform: capitalize;
}

.flags-container {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  justify-content: center;
  padding: 20px;
}
@media (min-width: 475px) and (max-width: 525px) {
  .flag-card {
      width: 120px;
      height: 180px;
      margin: 10px;
      padding: 10px;
      /* Mantenemos el mismo color de fondo */
      background-color: rgba(0, 0, 0, 0.6); 
  }

  .flags-container {
      gap: 10px; /* Reduce el espacio entre tarjetas */
  }

  .flag-card img {
      width: 80px; /* Imágenes más pequeñas */
  }

  .flag-card p {
      font-size: 0.9rem; /* Texto más pequeño */
  }
}



@media (max-width: 474px) {
  .flag-card {
      width: 100px;
      height: 160px;
      margin: 10px;
      padding: 10px;
      /* Mantenemos el mismo color de fondo */
      background-color: rgba(0, 0, 0, 0.6); 
  }

  .flags-container {
      gap: 10px; /* Reduce el espacio entre tarjetas */
  }

  .flag-card img {
      width: 80px; /* Imágenes más pequeñas */
  }

  .flag-card p {
      font-size: 0.9rem; /* Texto más pequeño */
  }
}