

.fireworks-container {
    background: radial-gradient(#001f3f, #000);
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: -1; 

}

#fireworks-canvas {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;  
}



.fireworks-canvas {
    position: absolute;
    top: 0;
    left: 0;

    pointer-events: none; 
}
.greeting-container{
    overflow: hidden;
}

.greeting-container footer .back-button {
    background-color: var(--primary-color);
    color: white;
    border: none;
    padding: 6px 10px;
    border-radius: 5px;
    font-size: .8rem;
    font-weight: bold;
    cursor: pointer;
    margin-top: 60px;
    box-shadow: var(--box-shadow);
    transition: background-color 0.3s ease;
  }
  
  .greeting-container footer .back-button:hover {
    background-color: var(--secondary-color);
  }
  