@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

:root {
    --primary-color: #2ecc71;
    --font-family: 'Poppins', sans-serif;
    --box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5);
}

body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: var(--font-family), sans-serif;
    color: white;
    text-align: center;
    overflow-x: hidden;
}

h1 {
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}

@media (max-width: 768px) {
    h1 {
        font-size: 1.8rem;
    }
}

@media (max-width: 480px) {
    h1 {
        font-size: 1.5rem;
    }
}

.home-container {
    min-height: 100vh; /* Centrado vertical */
    padding: 20px;
    box-sizing: border-box;
}

/* Fondo de nieve */
.snowfall {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: -1; /* Detrás del contenido */
    background: radial-gradient(#001f3f, #000); /* Fondo gradiente */
}

/* Nieve */
.snow {
    position: absolute;
    top: -10px;
    left: calc(100% * var(--snow-left));
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background-color: white;
    animation: fall var(--fall-duration) linear infinite;
    opacity: 0;
    animation-delay: calc(var(--fall-delay) * 2s);
}

/* Movimiento de la nieve */
@keyframes fall {
    0% {
        top: -10px;
        opacity: 1;
    }
    100% {
        top: 100vh;
        opacity: 0;
    }
}
